KERNEL_ARCH_CFLAGS:=
KERNEL_ARCH_CPPFLAGS:=
KERNEL_ARCH_LDFLAGS:=
KERNEL_ARCH_LIBS:=

KERNEL_ARCH_OBJS:=\
$(ARCHDIR)/ap_bootstrap.o \
$(ARCHDIR)/boot.o \
$(ARCHDIR)/common.o \
$(ARCHDIR)/fpu_init.o \
$(ARCHDIR)/gdt_install.o \
$(ARCHDIR)/interrupt.o \
$(ARCHDIR)/paging.o \
$(ARCHDIR)/run_kernel_task.o \
$(ARCHDIR)/switch_task.o \
$(ARCHDIR)/syscall_dispatcher.o \
$(patsubst %.c, %.o, $(shell find $(ARCHDIR)/ -name '*.c'))

